version: 1.0.{build}
environment:
  API_URL: http://localhost:3333
install:
  - cmd: npm ci
test_script:
  - cmd: npm run test
on_success:
  - ps: >-
      $ProgressPreference = 'SilentlyContinue'

      Invoke-WebRequest -Uri https://uploader.codecov.io/latest/windows/codecov.exe -Outfile codecov.exe

      .\codecov.exe -s tests/coverage
