version: 1.0.{build}
image: Ubuntu2204
environment:
  API_URL: http://localhost:3333
install:
  - cmd: npm ci
test_script:
  - cmd: npm run test
on_success:
  - sh: |
      curl -Os https://uploader.codecov.io/latest/linux/codecov

      chmod +x codecov
      ./codecov
